{% extends 'base.html.twig' %}

{% block title %}
  Editando franquicia
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
  <h2>
    Editar franquicia
  </h2>
  <div class="mb-3" style="width: 300px;  margin: auto;">
    <div class="col-auto">
      <form action="{{
        path(
          'app_franquicia_edit',
          {
            id: franquicia.id
          }
        )
        }}"
        method="post">
        {{ form_start(form) }}
        <div class="row">
          <div class="col">
            {{ form_row(form.nombre) }}
          </div>
        </div>Películas<br />
        <div class="row">
          <div class="col" style="text-align:left">
            {{ form_row(form.peliculas) }}
          </div>
        </div>Series<br />
        <div class="row">
          <div class="col" style="text-align:left">
            {{ form_row(form.series) }}
          </div>
        </div>Videojuegos<br />
        <div class="row">
          <div class="col" style="text-align:left">
            {{ form_row(form.videojuegos) }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form_row(form.send) }}
          </div>
        </div>
        {{ form_end(form) }}
      </form>
    </div>
  </div>
  <a href="/franquicia" class="btn btn-secondary">Volver</a>
{% endblock %}
