{% extends 'base.html.twig' %}

{% block title %}
  Inserta un videojuego
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
  <style></style>
  <div class="mb-3" style="width: 500px;  margin: auto;">
<h4>¡Bienvenido al formulario de introducción de videojuegos! Para que la imagen sea válida y se pueda ver, copia y pega su enlace cuando la encuentres en la etiqueta que la indique. Solo puede haber valores numéricos en las etiquetas del año de lanzamiento y la calificación por edades. Toca los cuadros o los géneros que quieras añadir. Para quitarlos, vuelve a tocarlos.</h4>
    </div><div class="mb-3" style="width: 300px;  margin: auto;"><h2>
      Introduce un nuevo juego
    </h2>
    
    <div class="col-auto">
    <form action="{{ path('app_videojuego_new') }}" method="post">
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.titulo) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.calificacion) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.anio) }}
        </div>
    </div>Géneros<br>
    <div class="row">
        <div class="col" style="text-align:left">
            {{ form_row(form.generos) }}
        </div>
    </div>
    Consolas<br>
    <div class="row">
        <div class="col" style="text-align:left">
            {{ form_row(form.consolas) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.imagen) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.enlace) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.send) }}
        </div>
    </div>
    {{ form_end(form) }}
    </div>
    </form>
    </div>
    <a href="/videojuego" class="btn btn-secondary" style="margin-bottom:20px">Volver</a>
  </div>
{% endblock %}
