{% extends 'base.html.twig' %}
{% block title %}
  Lista de votos del concurso de canciones
{% endblock %}

{% block body %}
  <h2>
    Concurso: {{concurso.nombre}}
  </h2>
  <h3 style="text-align:center">
    Lista de votos del concurso
  </h3>
  <div class="m-3">
    <ul class="list-group justify-content-center text-center">
    {% for voto in concurso.votoCancions|sort((a, b) => a.cancion.nombre <=> b.cancion.nombre) %}
        <li class="list-group-item">{{ voto.cancion.nombre }}</li>
    {% endfor %}
    </ul>
  </div>
  <div class="m-3">
		<h3 style="text-align:center">Lista de canciones del concurso</h3>
		<div class="card-group">
			{% for cancion in concurso.canciones|sort((a, b) => a.nombre <=> b.nombre) %}
				<div class="card m-5">
					<div class="card-body">
						<h5 class="card-title">{{cancion.nombre}}</h5>
						<p class="card-text">Votos:
							<b>{{votos[cancion.id]}}</b>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="card m-auto text-white bg-success mt-3" style="width: 15rem;">
			{% if ((concurso.fechaInicio is not empty and concurso.fechaFinal is not empty ) and (concurso.fechaInicio|date('U') < "now"|date('U') and concurso.fechaFinal|date('U') > "now"|date('U') )) %}
			<div class="card-header">¡Ganador provisional!</div>
			{% elseif concurso.fechaFinal|date('U') < "now"|date('U') %}
			<div class="card-header">¡Ganador!</div>
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{cancionGanadora.nombre}}</h5>
			</div>
		</div>
	</div>
  <a href="/concurso" class="btn btn-secondary mb-3">Volver</a>
<br>
{% endblock %}

