{% extends 'base.html.twig' %}

{% block title %}
  Editando concurso de películas
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
  <h2>
    Editar concurso
  </h2>
  <div class="mb-3" style="width: 300px;  margin: auto;">
    <div class="col-auto">
      <form action="{{
        path(
          'app_concurso_pelicula_edit',
          {
            id: concurso.id
          }
        )
        }}"
        method="post">
        {{ form_start(form) }}
        <div class="row">
          <div class="col">
            {{ form_row(form.nombre) }}
          </div>
        </div>Títulos de películas<div class="row">
          <div class="col" style="text-align:left">
            {{ form_row(form.peliculas) }}
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:left">
            {{ form_row(form.fechaInicio) }}
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:left">
            {{ form_row(form.fechaFinal) }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form_row(form.send) }}
          </div>
        </div>
        {{ form_end(form) }}
      </form>
    </div>
  </div>
  <a href="/concurso" class="btn btn-secondary" style="margin-bottom:20px">
    Volver
  </a>
{% endblock %}
